.farm{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding:10%;
   background-image: url("./img.webp");
   background-size: cover;
   background-position: center;
   height: 100vh;
 
}

.for{
   border: 1px solid ; 
   border-radius: 10px;
  display: flex;
  flex-direction: column; 
 margin: -40%;
 padding: 10%;
 background-color: rgba(0, 0, 0, 0.1);
  color: black;
  color: black !important;
}